@import url("https://fonts.google.com/specimen/Alata#standard-styles");  
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body{     
    font-family: "Alata#standard-styles";  
    height: auto;
    background-color: hsl(0, 0%, 80%);
    
    background-image: linear-gradient(#280a50, #6a25c4);
    
    background-attachment: fixed;
}



/*CABEZERA*/
#letras {
    color: white;
}

#letraslogo{
    color: white;
}

#letras:hover{
    background-color: #280a50;
    border-radius: 0px 0px 15px 15px;
}

#cabecera{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #561f9e;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    padding: auto;
    
}

/*CONTENEDOR DE PAGINA*/

.container{

    height: auto;
    width: auto;
    position: relative;
    bottom: -20px;
    left: 0%;
    margin: auto;
    
}


/*CARRUSEL DE JUEGOS*/
#carouselExampleCaptions{
    
    max-width: 980px;
    box-shadow: #280a50 5px 5px;
    margin: auto;
    padding: auto;
    
}


/*NAV BAR*/
#containerBusqueda{
    position: relative;
   
   
   

}

/*TARJETAS DE JUEGOS*/


.card{
    height: 460px;
    overflow: hidden;
}

#imgtarjeta{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .4s ease;
}

#imgtarjeta:hover{
   transform: scale(1.1);
   overflow: hidden;

}

.card:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

p.card-text{
    
    overflow: auto;
    max-height: 100px;

}

.precio{
    font-style: bold;
}

#tarjeta{
    background-color: #280a50;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}





/*PIE DE PAGINA*/
#footer{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: #561f9e;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    padding: auto;
}
