@import url("https://fonts.google.com/specimen/Alata#standard-styles");  
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body{     
    font-family: "Alata#standard-styles";  
    height: auto;
    background-color: hsl(0, 0%, 80%);
    background-image:-moz-linear-gradient(#280a50, #6a25c4);
    background-attachment: fixed;
}

/*CABEZERA*/
#letras {
    color: white;
}

#letraslogo{
    color: white;
}

#letras:hover{
    background-color: #280a50;
    border-radius: 0px 0px 15px 15px;
}

#cabecera{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #561f9e;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    padding: auto;
    
}

/*CONTENEDOR DE PAGINA*/

.container{
    border: solid red;
    height: auto;
    width: auto;
    position: relative;
    bottom: -20px;
    left: 0%;
    margin: auto;
    
}

/*CARRUSEL DE JUEGOS*/
#carouselExampleCaptions{
    
    max-width: 960px;
    box-shadow: #280a50 5px 5px;
    margin: auto;
    padding: auto;
    left: -13%;
}


/*NAV BAR*/
#containerBusqueda{
    position: relative;
    border: solid red;
   
   

}

/*TARJETAS DE JUEGOS*/
#tarjeta{
    background-color: #280a50;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    
}







/*PIE DE PAGINA*/
#footer{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #561f9e;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    padding: auto;
}